*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* overflow-x: hidden; */
}
body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

.movie-detail {
  padding: 2rem 20%;
}

body {
  background-color: rgb(77, 140, 77);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 3rem;
}

input {
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  border: none;
  width: 12rem;
  height: 2rem;
  padding: 10px;
}
button {
  background: none;
  background-color: rgb(53, 105, 49);
  padding: 0.5rem;

  border: 2px solid #57b919; /* Border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth transition */
}

button:active {
  background-color: #4e802f;
}

li {
  list-style: none;
}

.list-item {
  height: 3rem;
  background-color: aliceblue;
  width: 60%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  margin: 3rem;
}

.list-item:hover {
  background-color: rgba(240, 248, 255, 0.547);
}

ul {
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.search-movies {
  margin-left: 30vw;
}

.btn-mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.main-nav {
  background-color: #f0f0f0;
  position: absolute;

  width: 100%;
  height: 100vh;
  transform: translateX(100%) !important;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;

  flex-direction: column;
  gap: 2.5rem;
  /* Hide navigation */
  /* Allows NO transitions at all */
  /* display: none; */

  /* 1) Hide it visually */
  opacity: 0;

  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;

  /* 3) Hide it from screen readers */
  visibility: hidden;
}

.main-nav.nav-open {
  opacity: 1 !important;
  z-index: 300;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%) !important;
  height: 100vh;
}

.movies {
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  width: 100vw;
}

.movie {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 10rem;
  width: 100%;
  background-color: bisque;
}
